***
* Author: Amin Mollaei     
* Last modify: 18th July, 2022
***

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Strings are stored as bytes, we need to convert them
def bytes_to_string(df, n=0):
  df['movie_id'] = df['movie_id'].str.decode('utf-8').fillna(df['movie_id'])
  df['movie_title'] = df['movie_title'].str.decode('utf-8').fillna(df['movie_title'])
  if n == 1:
    df['user_id'] = df['user_id'].str.decode('utf-8').fillna(df['user_id'])

In [ ]:
# Use pandas to read data frames
# Upload them to your google drive or remove directory addresses from the path if the files are next to your python code 
import pandas as pd
ratings_df = pd.read_parquet('/content/drive/My Drive/ratings.parquet.gzip')
display(ratings_df.head())

movies_df = pd.read_parquet('/content/drive/My Drive/movies.parquet.gzip').dropna()

bytes_to_string(movies_df)
display(movies_df.head())

,bucketized_user_age,movie_genres,movie_id,movie_title,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,35.0,"[0, 7]",b'3107',b'Backdraft (1991)',977432193,True,b'130',18,b'technician/engineer',5.0,b'50021'
1,25.0,[7],b'2114',"b'Outsiders, The (1983)'",965932967,False,b'3829',0,b'academic/educator',4.0,b'22307'
2,18.0,"[4, 15]",b'256',b'Junior (1994)',1012103552,False,b'1265',21,b'writer',1.0,b'49321'
3,18.0,"[0, 10]",b'1389',b'Jaws 3-D (1983)',972004605,True,b'2896',14,b'sales/marketing',5.0,b'60073'
4,18.0,[0],b'3635',"b'Spy Who Loved Me, The (1977)'",961180111,True,b'5264',17,b'college/grad student',4.0,b'15217'

  movie_genres movie_id                                        movie_title
0       [5, 7]     1729                                Jackie Brown (1997)
1          [7]     1486                             Quiet Room, The (1996)
2          [4]     3086  March of the Wooden Soldiers (a.k.a. Laurel & ...
3          [0]     2965                             Omega Code, The (1999)
4         [10]     2853  Communion (a.k.a. Alice, Sweet Alice/Holy Terr...

In [ ]:
# Free some memory. This columns are not needed
del ratings_df['bucketized_user_age']
del ratings_df['timestamp']
del ratings_df['user_gender']
del ratings_df['user_occupation_label']
del ratings_df['user_occupation_text']
del ratings_df['user_zip_code']

ratings_df = ratings_df.dropna()

bytes_to_string(ratings_df, 1)

display(ratings_df)

,movie_genres,movie_id,movie_title,user_id,user_rating
0,"[0, 7]",3107,Backdraft (1991),130,5.0
1,[7],2114,"Outsiders, The (1983)",3829,4.0
2,"[4, 15]",256,Junior (1994),1265,1.0
3,"[0, 10]",1389,Jaws 3-D (1983),2896,5.0
4,[0],3635,"Spy Who Loved Me, The (1977)",5264,4.0
...,...,...,...,...,...
1000204,"[4, 7]",2290,Stardust Memories (1980),4508,4.0
1000205,"[0, 1, 15]",2643,Superman IV: The Quest for Peace (1987),4167,1.0
1000206,"[7, 16]",593,"Silence of the Lambs, The (1991)",5799,5.0
1000207,[7],1693,Amistad (1997),3224,3.0
1000208,"[7, 16]",454,"Firm, The (1993)",5493,3.0

In [ ]:
# Compare last movie label to total number of labels.
# By looking at the output, we understand that labels are not random
#  so we can have an array with the lenght of number of labels with
#  very little unused space ( (3952-3883)*8 gives us 552 memory waste
#  for each user. In this example it's about 3KB in total. But time complexity
#  will be much much lowered)
import numpy as np

movie_lbls = []

for item in movies_df['movie_id']:
  movie_lbls.append(int(item))

movie_lbls = np.sort(movie_lbls)
print(len(movie_lbls))
print(movie_lbls)
del movies_df

3883
[   1    2    3 ... 3950 3951 3952]

In [ ]:
# We now have our observation and can free the memory
last_label = movie_lbls[-1]
del movie_lbls

In [ ]:
# Store all movies for every users
# If user 'u' have seen movie '10', users[u][10] will be the rating of user 'u'
#  to movie '10'. Otherwise it'll be np.inf
users = {}
users_top_movies = {}
infinities = np.array([np.inf for i in range(last_label + 1)])
for _, row in ratings_df.iterrows():
  uid = row['user_id']
  users[uid] = infinities.copy()
  users_top_movies[uid] = []

for _, row in ratings_df.iterrows():
  uid = row['user_id']
  mid = int(row['movie_id'])
  ur = row['user_rating']
  title = row['movie_title']
  genres = row['movie_genres']
  users[uid][mid] = ur
  if ur >= 4.5:
    users_top_movies[uid].append( (title, genres) )

In [ ]:
# Convert dictionary to list to iterate faster
users = list(users.items())

users[:5]

[('130', array([inf, inf, inf, ..., inf, inf, inf])),
 ('3829', array([inf, inf, inf, ..., inf, inf, inf])),
 ('1265', array([inf,  4.,  1., ..., inf, inf, inf])),
 ('2896', array([inf,  4., inf, ..., inf, inf, inf])),
 ('5264', array([inf,  5., inf, ..., inf, inf, inf]))]

In [ ]:
del ratings_df
del infinities

In [ ]:
# Distance is (movies for user_a - movies for user_b)
#  It can be cosine distance either.
# Then drop nan and inf
# If two users have seen similar movies, the diff.sum() will grow
#  so it must be divided by the lenght of diff.
def find_distance(list_a, list_b):
  diff = np.abs(list_a - list_b)
  diff = diff[~np.isnan(diff)]
  diff = diff[diff < np.inf]
  return diff.sum() / len(diff)

In [ ]:
# Compare each user with all others so it's O(n^2).
# Detect 10 user with most similarity for each user
# Recommend at least 10 movies from that 10 near users. First suggest top movie of each user
#  and if suggested movies are less than 10, use 2nd top movie of each user
#  It's completely obvious thath for 10 movies there is no need to look for
#  2nd top movie of any user.  
# Finally store in google drive.
# Since algorithm is in O(n^2) order and there is a file creation for each user
#  this cell will take time.
MAX_ITERATOINS = 20
cnt = 0
for soure_user, source_userRatings in users:
  distance_to_other_users = {}
  for target_user, target_userRatings in users:
    if soure_user == target_user:
      continue
    d = find_distance(source_userRatings, target_userRatings)
    if not np.isnan(d):
      distance_to_other_users[target_user] =  d
  distance_to_other_users = list(sorted(distance_to_other_users.items(), key=lambda item: item[1]))[:10]

  recomendations_number = 0
  indx = 0
  movies = []
  genres = []

  while recomendations_number < 10 and indx < MAX_ITERATOINS:
    for near_user, _ in distance_to_other_users:
      try:
        recom = users_top_movies[near_user][indx]
        movies.append(recom[0])
        genres.append(recom[1])
        recomendations_number += 1
      except:
        pass
    indx += 1
      

  df = pd.DataFrame({'Movies':movies, 'Genres':genres})  
  df.to_csv(f'/content/drive/My Drive/recomended_movies/{soure_user}.csv')
  cnt += 1

  if cnt%10 == 0:
    print(f'{cnt} out of {len(users)}')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in subtract

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

10 out of 6040
20 out of 6040
30 out of 6040
40 out of 6040
50 out of 6040
60 out of 6040
70 out of 6040
80 out of 6040
90 out of 6040
100 out of 6040
110 out of 6040
120 out of 6040
130 out of 6040
140 out of 6040
150 out of 6040
160 out of 6040
170 out of 6040
180 out of 6040
190 out of 6040
200 out of 6040
210 out of 6040
220 out of 6040
230 out of 6040
240 out of 6040
250 out of 6040
260 out of 6040
270 out of 6040
280 out of 6040
290 out of 6040
300 out of 6040
310 out of 6040
320 out of 6040
330 out of 6040
340 out of 6040
350 out of 6040
360 out of 6040
370 out of 6040
380 out of 6040
390 out of 6040
400 out of 6040
410 out of 6040
420 out of 6040
430 out of 6040
440 out of 6040
450 out of 6040
460 out of 6040
470 out of 6040
480 out of 6040
490 out of 6040
500 out of 6040
510 out of 6040
520 out of 6040
530 out of 6040
540 out of 6040
550 out of 6040
560 out of 6040
570 out of 6040
580 out of 6040
590 out of 6040
600 out of 6040
610 out of 6040
620 out of 6040
630 out of 6040
640 out of 6040
650 out of 6040
660 out of 6040
670 out of 6040
680 out of 6040
690 out of 6040
700 out of 6040
710 out of 6040
720 out of 6040
730 out of 6040
740 out of 6040
750 out of 6040
760 out of 6040
770 out of 6040
780 out of 6040
790 out of 6040
800 out of 6040
810 out of 6040
820 out of 6040
830 out of 6040
840 out of 6040
850 out of 6040
860 out of 6040
870 out of 6040
880 out of 6040
890 out of 6040
900 out of 6040
910 out of 6040
920 out of 6040
930 out of 6040
940 out of 6040
950 out of 6040
960 out of 6040
970 out of 6040
980 out of 6040
990 out of 6040
1000 out of 6040
1010 out of 6040
1020 out of 6040
1030 out of 6040
1040 out of 6040
1050 out of 6040
1060 out of 6040
1070 out of 6040
1080 out of 6040
1090 out of 6040
1100 out of 6040
1110 out of 6040
1120 out of 6040
1130 out of 6040
1140 out of 6040
1150 out of 6040
1160 out of 6040
1170 out of 6040
1180 out of 6040
1190 out of 6040
1200 out of 6040
1210 out of 6040
1220 out of 6040
1230 out of 6040
1240 out of 6040
1250 out of 6040
1260 out of 6040
1270 out of 6040
1280 out of 6040
1290 out of 6040
1300 out of 6040
1310 out of 6040
1320 out of 6040
1330 out of 6040
1340 out of 6040
1350 out of 6040
1360 out of 6040
1370 out of 6040
1380 out of 6040
1390 out of 6040
1400 out of 6040
1410 out of 6040
1420 out of 6040
1430 out of 6040
1440 out of 6040
1450 out of 6040
1460 out of 6040
1470 out of 6040
1480 out of 6040
1490 out of 6040
1500 out of 6040
1510 out of 6040
1520 out of 6040
1530 out of 6040
1540 out of 6040
1550 out of 6040
1560 out of 6040
1570 out of 6040
1580 out of 6040
1590 out of 6040
1600 out of 6040
1610 out of 6040
1620 out of 6040
1630 out of 6040
1640 out of 6040
1650 out of 6040
1660 out of 6040
1670 out of 6040
1680 out of 6040
1690 out of 6040
1700 out of 6040
1710 out of 6040
1720 out of 6040
1730 out of 6040
1740 out of 6040
1750 out of 6040
1760 out of 6040
1770 out of 6040
1780 out of 6040
1790 out of 6040
1800 out of 6040
1810 out of 6040
1820 out of 6040
1830 out of 6040
1840 out of 6040
1850 out of 6040
1860 out of 6040
1870 out of 6040
1880 out of 6040
1890 out of 6040
1900 out of 6040
1910 out of 6040
1920 out of 6040
1930 out of 6040
1940 out of 6040
1950 out of 6040
1960 out of 6040
1970 out of 6040
1980 out of 6040
1990 out of 6040
2000 out of 6040
2010 out of 6040
2020 out of 6040
2030 out of 6040
2040 out of 6040
2050 out of 6040
2060 out of 6040
2070 out of 6040
2080 out of 6040
2090 out of 6040
2100 out of 6040
2110 out of 6040
2120 out of 6040
2130 out of 6040
2140 out of 6040
2150 out of 6040
2160 out of 6040
2170 out of 6040
2180 out of 6040
2190 out of 6040
2200 out of 6040
2210 out of 6040
2220 out of 6040
2230 out of 6040
2240 out of 6040
2250 out of 6040
2260 out of 6040
2270 out of 6040
2280 out of 6040
2290 out of 6040
2300 out of 6040
2310 out of 6040
2320 out of 6040
2330 out of 6040
2340 out of 6040
2350 out of 6040
2360 out of 6040
2370 out of 6040
2380 out of 6040
2390 out of 6040
2400 out of 6040
2410 out of 6040
2420 out of 6040
2430 out of 6040
2440 out of 6040
2450 out of 6040
2460 out of 6040
2470 out of 6040
2480 out of 6040
2490 out of 6040
2500 out of 6040
2510 out of 6040
2520 out of 6040
2530 out of 6040
2540 out of 6040
2550 out of 6040
2560 out of 6040
2570 out of 6040
2580 out of 6040
2590 out of 6040
2600 out of 6040
2610 out of 6040
2620 out of 6040
2630 out of 6040
2640 out of 6040
2650 out of 6040
2660 out of 6040
2670 out of 6040
2680 out of 6040
2690 out of 6040
2700 out of 6040
2710 out of 6040
2720 out of 6040
2730 out of 6040
2740 out of 6040
2750 out of 6040
2760 out of 6040
2770 out of 6040
2780 out of 6040
2790 out of 6040
2800 out of 6040
2810 out of 6040
2820 out of 6040
2830 out of 6040
2840 out of 6040
2850 out of 6040
2860 out of 6040
2870 out of 6040
2880 out of 6040
2890 out of 6040
2900 out of 6040
2910 out of 6040
2920 out of 6040
2930 out of 6040
2940 out of 6040
2950 out of 6040
2960 out of 6040
2970 out of 6040
2980 out of 6040
2990 out of 6040
3000 out of 6040
3010 out of 6040
3020 out of 6040
3030 out of 6040
3040 out of 6040
3050 out of 6040
3060 out of 6040
3070 out of 6040
3080 out of 6040
3090 out of 6040
3100 out of 6040
3110 out of 6040
3120 out of 6040
3130 out of 6040
3140 out of 6040
3150 out of 6040
3160 out of 6040
3170 out of 6040
3180 out of 6040
3190 out of 6040
3200 out of 6040
3210 out of 6040
3220 out of 6040
3230 out of 6040
3240 out of 6040
3250 out of 6040
3260 out of 6040
3270 out of 6040
3280 out of 6040
3290 out of 6040
3300 out of 6040
3310 out of 6040
3320 out of 6040
3330 out of 6040
3340 out of 6040
3350 out of 6040
3360 out of 6040
3370 out of 6040
3380 out of 6040
3390 out of 6040
3400 out of 6040
3410 out of 6040
3420 out of 6040
3430 out of 6040
3440 out of 6040
3450 out of 6040
3460 out of 6040
3470 out of 6040
3480 out of 6040
3490 out of 6040
3500 out of 6040
3510 out of 6040
3520 out of 6040
3530 out of 6040
3540 out of 6040
3550 out of 6040
3560 out of 6040
3570 out of 6040
3580 out of 6040
3590 out of 6040
3600 out of 6040
3610 out of 6040
3620 out of 6040
3630 out of 6040
3640 out of 6040
3650 out of 6040
3660 out of 6040
3670 out of 6040
3680 out of 6040
3690 out of 6040
3700 out of 6040
3710 out of 6040
3720 out of 6040
3730 out of 6040
3740 out of 6040
3750 out of 6040
3760 out of 6040
3770 out of 6040
3780 out of 6040
3790 out of 6040
3800 out of 6040
3810 out of 6040
3820 out of 6040
3830 out of 6040
3840 out of 6040
3850 out of 6040
3860 out of 6040
3870 out of 6040
3880 out of 6040
3890 out of 6040
3900 out of 6040
3910 out of 6040
3920 out of 6040
3930 out of 6040
3940 out of 6040
3950 out of 6040
3960 out of 6040
3970 out of 6040
3980 out of 6040
3990 out of 6040
4000 out of 6040
4010 out of 6040
4020 out of 6040
4030 out of 6040
4040 out of 6040
4050 out of 6040
4060 out of 6040
4070 out of 6040
4080 out of 6040
4090 out of 6040
4100 out of 6040
4110 out of 6040
4120 out of 6040
4130 out of 6040
4140 out of 6040
4150 out of 6040
4160 out of 6040
4170 out of 6040
4180 out of 6040
4190 out of 6040
4200 out of 6040
4210 out of 6040
4220 out of 6040
4230 out of 6040
4240 out of 6040
4250 out of 6040
4260 out of 6040
4270 out of 6040
4280 out of 6040
4290 out of 6040
4300 out of 6040
4310 out of 6040
4320 out of 6040
4330 out of 6040
4340 out of 6040
4350 out of 6040
4360 out of 6040
4370 out of 6040
4380 out of 6040
4390 out of 6040
4400 out of 6040
4410 out of 6040
4420 out of 6040
4430 out of 6040
4440 out of 6040
4450 out of 6040
4460 out of 6040
4470 out of 6040
4480 out of 6040
4490 out of 6040
4500 out of 6040
4510 out of 6040
4520 out of 6040
4530 out of 6040
4540 out of 6040
4550 out of 6040
4560 out of 6040
4570 out of 6040
4580 out of 6040
4590 out of 6040
4600 out of 6040
4610 out of 6040
4620 out of 6040
4630 out of 6040
4640 out of 6040
4650 out of 6040
4660 out of 6040
4670 out of 6040
4680 out of 6040
4690 out of 6040
4700 out of 6040
4710 out of 6040
4720 out of 6040
4730 out of 6040
4740 out of 6040
4750 out of 6040
4760 out of 6040
4770 out of 6040
4780 out of 6040
4790 out of 6040
4800 out of 6040
4810 out of 6040
4820 out of 6040
4830 out of 6040
4840 out of 6040
4850 out of 6040
4860 out of 6040
4870 out of 6040
4880 out of 6040
4890 out of 6040
4900 out of 6040
4910 out of 6040
4920 out of 6040
4930 out of 6040
4940 out of 6040
4950 out of 6040
4960 out of 6040
4970 out of 6040
4980 out of 6040
4990 out of 6040
5000 out of 6040
5010 out of 6040
5020 out of 6040
5030 out of 6040
5040 out of 6040
5050 out of 6040
5060 out of 6040
5070 out of 6040
5080 out of 6040
5090 out of 6040
5100 out of 6040
5110 out of 6040
5120 out of 6040
5130 out of 6040
5140 out of 6040
5150 out of 6040
5160 out of 6040
5170 out of 6040
5180 out of 6040
5190 out of 6040
5200 out of 6040
5210 out of 6040
5220 out of 6040
5230 out of 6040
5240 out of 6040
5250 out of 6040
5260 out of 6040
5270 out of 6040
5280 out of 6040
5290 out of 6040
5300 out of 6040
5310 out of 6040
5320 out of 6040
5330 out of 6040
5340 out of 6040
5350 out of 6040
5360 out of 6040
5370 out of 6040
5380 out of 6040
5390 out of 6040
5400 out of 6040
5410 out of 6040
5420 out of 6040
5430 out of 6040
5440 out of 6040
5450 out of 6040
5460 out of 6040
5470 out of 6040
5480 out of 6040
5490 out of 6040
5500 out of 6040
5510 out of 6040
5520 out of 6040
5530 out of 6040
5540 out of 6040
5550 out of 6040
5560 out of 6040
5570 out of 6040
5580 out of 6040
5590 out of 6040
5600 out of 6040
5610 out of 6040
5620 out of 6040
5630 out of 6040
5640 out of 6040
5650 out of 6040
5660 out of 6040
5670 out of 6040
5680 out of 6040
5690 out of 6040
5700 out of 6040
5710 out of 6040
5720 out of 6040
5730 out of 6040
5740 out of 6040
5750 out of 6040
5760 out of 6040
5770 out of 6040
5780 out of 6040
5790 out of 6040
5800 out of 6040
5810 out of 6040
5820 out of 6040
5830 out of 6040
5840 out of 6040
5850 out of 6040
5860 out of 6040
5870 out of 6040
5880 out of 6040
5890 out of 6040
5900 out of 6040
5910 out of 6040
5920 out of 6040
5930 out of 6040
5940 out of 6040
5950 out of 6040
5960 out of 6040
5970 out of 6040
5980 out of 6040
5990 out of 6040
6000 out of 6040
6010 out of 6040
6020 out of 6040
6030 out of 6040
6040 out of 6040